@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #625F5F #DFE9EB;
}

*::-webkit-scrollbar {
    height: 10px;
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #F5B754;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #B0692B;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #B0692B;
  }

.headings {
    font-family: "Playfair Display";
    font-style: normal;
    line-height: normal;
}

.para {
    font-family: Montserrat;
    font-style: normal;
    line-height: normal;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

option:hover {
    background-color: transparent;
  }


.descText {
text-align: center;
font-family: "Playfair Display";
font-size: 26px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.divShape {
  clip-path: polygon(50% 0%, 100% 0, 100% 18%, 100% 46%, 100% 92%, 96% 85%, 0 85%, 0 45%, 0 17%, 0 0);
}

.lb {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
